.navbar, .navbar-brand{  
  top: 0;
  text-shadow: 2px 2px #5fb4a5;  
  }

#faviconSmall {
  margin-right: 8px;
}

.navbar-brand:hover,.nav-item:hover {transform: scale(1.8);}

.btn .btn-primary{
  text-decoration-line:none;  
  cursor: wait;
}


a{color:#feffde;
cursor: src="./images/shipCursor.cur";
}

.navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}